<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Desafios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <h1>Questionário! Resposde correto às três perguntas em baixo para avançares!</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p style="color: {{ 'red' if category == 'error' }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p>Pergunta #1: Quem foi o uníco autor portugûes a receber o Prémio Nobel da literatura?</p>
    <img src="{{ url_for('static', filename='jose-saramago.jpg') }}" alt="Saramago">

    <form action="{{ url_for('desafios') }}" method="POST">
        <label for="resposta1">Pergunta 1:</label>
        <input type="text" id="resposta1" name="resposta1">
        <br>
        <br>
    <p>Pergunta #2: Qual a capital do país que tem a bandeira na imagem em baixo?</p>
    <img src="{{ url_for('static', filename='Flag_of_Iceland.png') }}" alt="bandeira">
        <br>
        <label for="resposta2">Pergunta 2:</label>
        <input type="text" id="resposta2" name="resposta2">
        <br>
        <br>
    <p>Pergunta #3: Quantos distritos tem Portugal?</p>
    <img src="{{ url_for('static', filename='portugal-mapa.jpg') }}" alt="portugal">
        <br>
        <label for="resposta3">Pergunta 3:</label>
        <input type="text" id="resposta3" name="resposta3">
        <br>
        <br>
        <input type="submit" value="Submeter as respostas">
    </form>
</body>
</html>